.relative {
  background-color: RoyalBlue;
  overflow: visible;
  text-align: center;
  height: 140px;
  line-height: normal;
}

.relative a {
  margin: auto;
  top: 20px;
}

#slide {
  height: 700px;
  position:relative;
  overflow: hidden;
}

#slide ul {
  width: 400%;
  transition: 1s;
  height: 100%;
}

#slide ul;

after {
  content: "";
  display: flex;
  clear: both;
}

#slide li {
  float: left;
  width: 25%;
  height: 100%;
}

#slide li:nth-child(1) {
  background-image: url("image/slide1.jpg");
  background-size: cover;
  max-width: 100%;
}

#slide li:nth-child(2) {
  background-image: url("image/slide2.jpg");
  background-size: cover;
  max-width: 100%;
}

#slide li:nth-child(3) {
  background-image: url("image/slide3.jpg");
  background-size: cover;
  max-width: 100%;
}

#slide li:nth-child(4) {
  background-image: url("image/slide4.jpg");
  background-size: cover;
  max-width: 100%;
}

#slide input {
  display: none;
}

#slide label {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border: 2px solid #666;
  background: #fff;
  transition: 0.3s;
  border-radius: 50%;
  cursor: pointer;
}

#slide .pos {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

#pos1:checked~ul {
  margin-left: 0%;
}

#pos2:checked~ul {
  margin-left: -100%;
}

#pos3:checked~ul {
  margin-left: -200%;
}

#pos4:checked~ul {
  margin-left: -300%;
}

#pos2:checked~.pos>label:nth-child(2) {
  background: white;
}

#pos3:checked~.pos>label:nth-child(3) {
  background: white;
}

#pos4:checked~.pos>label:nth-child(4) {
  background: white;
}

#pos1:checked~.pos>label:nth-child(1) {
  background: white;
}
.paper{
  width: 100%;
}
.paper tr td img{
  width: 200px;
  height: 200px;
}
.tableContainer{
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
.login{
  text-align: center;
  margin-top: 30%;
}
.logincontainer{
  position: relative;
  width: 50%;
  height: 250px;
  background: RoyalBlue;
  margin: 10%;
  left: 10%;
}
.logincontainer button{
  position: relative;
  top: 22px;
  left: 85%;
  color: RoyalBlue;
}
.login label{
  color: white;
}
.login1 label{
  color: white;
}
.login h1{
  text-align: left;
  margin-bottom: 10%;
  color: white;
}
.topMenu{
  height: 50px;
  width: 100%;
  background-color: RoyalBlue;
}
.topMenu ul{
  border: 1px solid white;
}
.topMenu ul li {
  float: left;
  line-height: 50%;
  text-align: center;
  margin-left: 20%;
  margin-top: 2%;
}
.topMenu ul li a{
  color: white;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  font-family: "Trebuchet MS";

}
.topMenu a:hover{
  color: white;
  background-color: CornflowerBLue;
}
